# .gitignore from HomeAssistant example

*.pid
*.xml
*.csr
*.crt
*.key
*.pyc
OZW_Log.txt
home-assistant.log*
home-assistant_v2*.db*
*.db-journal
lib
deps
tts
www
custom_components
secrets.yaml
known_devices.yaml
google_calendars.yaml
*.conf
plex.conf
phue.conf
harmony_media_room.conf
zwave_device_config.yaml
pyozw.sqlite
.*
!.gitignore
!.travis.yml
!.HA_VERSION
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
core
speedtest.json